{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="travel.css">
    <link rel="icon" href="images/plane-solid.svg">
</head>
<body>
  <div class="content">
    <div class="navbar">
      <div class="navbar-holder">
        <img src="images/imperial-crest-logo.png" alt="Logo">
      </div>
    </div>
    <div id="travelFormContainer" class="container">
      <div class="container-content">
        <div class="close" onclick="hideForm()"><i class="fas fa-times"></i></div>
        <header>Travel</header>
        <form id="travelForm">
          <div class="passenger-name">
            <label>Name of Passenger(s) *</label>
            <input type="text" required>
            <input type="text">
            <input type="text">
          </div>
          <div class="trip">
            <div>
              <label>Trip type *</label>
            </div>
            <div class="trip-1">
              <input type="radio" name="trip-type" required><span>Local</span>
            </div>
            <div class="trip-1">
              <input type="radio" name="trip-type" required><span>International</span>
            </div>
          </div>
          <div class="airline">
            <label>Preferred Airline *</label>
            <span>(Subject to seat availability and other trip factors)</span>
            <input type="text" required>
          </div>
          <div class="airline">
            <label>Preferred Flight Class *</label>
            <span>(Subject to seat availability and other trip factors)</span>
            <input type="text" required>
          </div>
          <div class="ticket-type">
            <label>Ticket Type *</label>
            <p>One way (If return date and time is not certain)</p>
            <p>Round Trip (If return date and time is certain)</p>
            <div class="type-1">
              <input type="radio" name="ticket-type" required>
              <span>One way</span>
            </div>
            <div class="type-1">
              <input type="radio" name="ticket-type">
              <span>Round trip</span>
            </div>
          </div>
          <div class="flight-type">
            <label>Flight type *</label>
            <div class="flight-1">
              <input type="radio" name="flight-type" required>
              <span>One way Departure</span>
            </div>
            <div class="flight-1">
              <input type="radio" name="flight-type" required>
              <span>One way Arrival</span>
            </div>
            <div class="flight-1">
              <input type="radio" name="flight-type" required>
              <span>Round trip: Departure and Arrival</span>
            </div>
          </div>
          <div class="airline">
            <label>Routes (Locations) *</label>
            <p>One way: Origin-Destination</p>
            <p>Return-trip: Origin-Destination-Origin</p>
            <p>(For international trip, specify destination's exact city)</p>
            <input type="text" required>
          </div>
          <div class="dep-date">
            <label for="checkin">Departure Date *</label>
            <input type="date" id="checkin" name="checkin" required>
          </div>
          <div class="departure-time">
            <label for="departure-time">Preferred Departure Time(Origin-Destination) *</label>
            <span>(Subject to seat availability and other trip factors)</span>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Very early morning</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Mid-morning</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Just before noon</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Just after noon</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Mid afternoon</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Evening</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Night</span>
            </div>
          </div>
          <div class="dep-date">
            <label for="checkin">Arrival Date *</label>
            <input type="date" id="checkin" name="checkin" required>
          </div>
          <div class="departure-time">
            <label for="departure-time">Preferred Arrival Time(Destination-Origin) *</label>
            <span>(Subject to seat availability and other trip factors)</span>
            <div>
              <input type="radio" name="arrival-time" required>
              <span>Very early morning</span>
            </div>
            <div>
              <input type="radio" name="arrival-time" required>
              <span>Mid-morning</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Just before noon</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Just after noon</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Mid afternoon</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Evening</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>Night</span>
            </div>
          </div>
          <div class="departure-time">
            <label for="departure-time">Preferred Luggage Weight</label>
            <span>(Subject to the chosen Airline and extra charges may be applicable)</span>
            <div>
              <input type="radio" name="departure-time" required>
              <span>1 Cabin baggage of about 7kg or less</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>1 Cabin baggage and not more than 15kg check-in baggage</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>1 Cabin baggage and not more than 23kg check-in baggage</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>1 Piece of 23kg check-in baggage</span>
            </div>
            <div>
              <input type="radio" name="departure-time" required>
              <span>2 Pieces of 46kg check-in baggage</span>
            </div>
          </div>
          <div class="submit">
              <button type="submit" class="submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="travelForm">
        <button onclick="showForm()" type="button" class="travelForm-btn">Proceed to Travel Form</button>
    </div>
  </div>
    <script src="travel.js"></script>
</body>
</html>